.App {
  text-align: center;
  max-width:fit-content
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.hidden-input {
color: white;
}
.hidden-input:hover {
  color: cadetblue;
}

.nav {
  background-color: firebrick;
  border: solid;
  font-weight: bold;
  width: auto;
  border-radius: 3px;
}
.nav-link.active {

  color:green

}

.avail-cats {
  border: solid;
  border-color: blue;
  background-color: antiquewhite;
  border-width: 3px;
  border-radius: 3px;
  padding: 5px;
}

.cat-card {
  background-color:blanchedalmond;
  border: solid;
  border-color: red;
  border-width: 2px;
  border-radius: 1px;
}
.cat-card:hover {
  background-color: gold;
}

.equip-detail-list-header {
  font-weight: bolder;
  text-decoration: underline;
}
.equip-detail-list-subheader {
  font-weight: bold;
}
.equip-card {
  border: solid;
  border-color: darkgoldenrod;
  max-width: 350px;
}