<h1> TIMER END </h1>
<p>
    This email is to let you know that your timer has been ENDED!
</p>
<p> <%=@exchange.id%></p>
<p> 
    If You are the BORROWER of this equipment You can now release the equipment to the OWNER
    </p>
    <p>OWNER, the timer is ended. Ensure you have possesion of your equipment in good repair</p>
    