<h1>Password Reset, <%= @user.username %></h1>
  <p>
    To reset your password, Enter Token: 
    <%=@user.reset_password_token%>
    <br>
    your username is: <%= @user.username %>.
    <br>
  </p>
<p>Enter new password with token in app, token is time sensitive.</p>