<h1>THE OWNER HAS APPROVED YOUR REQUEST, </h1>
<p>PLEASE BEGIN When you have control of the Equipment</p>


<p>CLICK THIS LINK TO BEGIN EXCHANGE</p>
<a href=<%=@exchange.borrower_start_link%>><%=@exchange.borrower_start_link%></a>
<p>This is a test email for testing if you don't recognize this, delete it.</p>
