<h1> TIMER START </h1>
<p>
    This email is to let you know that your timer has been started!
</p>
<p> <%=@exchange.id%></p>
<p> 
    If You are the Owner of this equipment You can now release the equipment to the borrower
    </p>
    <p>
    Borrower, You will continue to be charged for this equipment until the timer is ended.</p>
    